* {
    box-sizing: border-box;
    moz-box-sizing: border-box;
    webkit-box-sizing: border-box;
    font-family: "Microsoft Yahei";
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, em, img, strong, b, u, i, dl, dt, dd, ol, ul, li, form, label, table, tbody, thead, tr, th, td, div {
    margin: 0;
    padding: 0;
    border: 0;

}

ol, ul {
    list-style: none;
}

img {
    border: 0;
}

a {
    text-decoration: none;
}

.topBar {
    width: 100%;
    height: 60px;
    background: #474747;
}

.leftBar {
    width: 186px;
    height: 562px;
    padding-top: 50px;
    float: left;
    font-size: 12px;
    border-right: 1px solid #cccccc;
    text-align: center;
}

.leftBar a {
    float: left;
    text-decoration: none;
    color: #666;
    display: block;
    padding-left: 50px;
}

.leftBar ul {
    height: 90px;
    margin-top: 20px;

}

.leftBar ul li {
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}

.active {
    background-color: rgba(51, 133, 255, 0.42);
}

.centerBar {
    float: left;
    width: 1100px;
    height: 562px;
    padding-left: 10px;
}

.centerBar .centerBar_formBox {
    margin: 0 auto;
    width: 656px;
    padding-top: 20px;
    padding-left: 70px;
}

.centerBar .centerBar_formBox .item {
    width: 90px;
    float: left;
    text-align: left;
    padding-right: 30px;
    vertical-align: middle;
    color: #363636;
}

.centerBar_formBox div {
    margin-top: 10px;
    height: 34px;
    line-height: 34px;
}

.centerBar_formBox div input {
    width: 360px;
    height: 34px;
    border-radius: 3px;
    line-height: 34px;
}

.centerBar .centerBar_formBox .form_submit {
    width: 160px;
    background-color: #3385ff;
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-left: 174px;
    margin-top: 14px;
}


/*以下为表格显示录入结果部分*/
.centerBar .result_show {
    font-size: 14px;
    width: 100%;
    text-align: center;
}

.centerBar .result_show tr {
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.centerBar .result_show th {
    text-align: center;
}

.div_btn {
    text-align: center;
    width: 100%;
    margin-top: 30px;
}
input[type="submit"] {
    width: 120px;
}
.user_icon {
    color: #bfbfbf;
    width: 130px;
}
.div_user {
    color: #FFFFFF;
    width: 400px;
    height: 50px;
    line-height:50px;
    margin-left: 40px;
}
.info_bar {
    width: 100%;
    height: 30px;
    margin-top: 30px;
    margin-left:30px;
    margin-bottom:20px;
}
.info_bar div {
    float: left;
    padding-left: 10px;
    font-size: 16px;
    margin-left:30px;
}
.btn-container{
     width:100px;
     height:100px;
     margin:0 auto;
}
